body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: wheat;
}

h1 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
}

.container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn-primary {
    background-color: goldenrod;
    border-color: black;
    color: black;
}

    .btn-primary:hover {
        background-color: goldenrod;
        border-color: black;
    }


.menu {
    border-bottom: 1px solid black; /* Add top border to columns */
    /*border-left: 1px solid black;*/ /* Add left border to columns */
    /*border-right: 1px solid black;*/ /* Add right border to columns */
}

#my_dataviz svg {
    max-width: 66.67%;
    margin: 0 auto;
    display: block;
}

#pokemon-logo {
    max-width: 110px;
    width: 100%;
    height: auto;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    background-color: goldenrod;
    border-color: black;
}

.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}

